/.android
/.bash_history
/.config
/.dlv
/.dotnet
/.gitconfig
/.idlerc
/.librarymanager
/.nuget
/.Origin
/.QtWebEngineProcess
/.templateengine
/.thumbnails
/.vscode
/3D Objects
/ansel
/AppData
/Contacts
/Desktop
/django_test
/Documents
/Downloads
/Favorites
/go
/Links
/manage.py
/MicrosoftEdgeBackups
/Music
/mytestsite
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{fa257331-2003-11ec-a6e7-001a7dda7115}.TM.blf
/NTUSER.DAT{fa257331-2003-11ec-a6e7-001a7dda7115}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{fa257331-2003-11ec-a6e7-001a7dda7115}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Pictures
/PycharmProjects
/Saved Games
/Searches
/Shop.mdf
/Shop_log.ldf
/source
/Tracing
/Videos
/web_project
/YandexDisk
/OneDrive
/Application Data
/Cookies
/Local Settings
/NetHood
/PrintHood
/Recent
/SendTo
/главное меню
/Мои документы
/Шаблоны